
h1 {
    color: red;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    align-items: center;
    justify-content: center;
}



.search{
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 55px;
    background: rgb(16, 141, 190);
    border-radius: 30px;
    overflow: hidden;
    transition: .8s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.search:hover{ width: 300px;}

.search:hover i{
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
}

.search:hover input{
    display: block;
    position: absolute;
    background: transparent;
    color: #fff;
    height: 32px;
    font-size: larger;
    top: 8px;
    left: 20px;
    width: 230px;
}

.search input{ display: none; }

.search i{
    color: #fff;
    font-size: 22px;
}