
{% extends 'base.html' %}

{% block content %}


<hr>


<div class="row">
    {% for each in object_list %}
    <div class="col">
        <div class="card" style="width: 13rem;">
            <img src="{{ each.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ each.title|slice:":25"}} ...</h5>
                <p class="card-text">${{ each.price|floatformat:2 }}</p>                
                {% if each.book_available is True %}
                <li class="text-primary">Available</li>
                {% else %}
                <li class="text-danger">Out of Stock !</li>
                {% endif %}<br>
                <a href="{% url 'detail' each.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}

